<div class="container">
    <div class="row">
      <div class="col-offser-md-1 col-md-8">
        <div class="heading"><h2>キューポイント登録</h2></div>
          <div class="body">
          
            <%= form_for(@cuepoint) do |f| %>
              <div class="form group">
                <ul class="list-inline">
                  <li><%= f.label :name, "Name" %></li>
                  <li><%= f.text_field :name, class: "form-control" %></li>
                </ul>
              </div>
              
              <div class="text-left">
                <%= f.submit "登録", class: "btn btn-success" %>
              </div>
              
            <% end %>
          </div>
        </div>
      </div>
    </div>
</div>